* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

.jra a{
  background-color:#FF00FF;
  padding:30px 30px;
  color:#000000;
}
